<body>
    @await Html.PartialAsync("_Header")

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Property Management System
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

</body>
