USE [master]
GO
/****** Object:  Database [PropertyManagementDB]    Script Date: 02/02/2026 8:55:51 SA ******/
CREATE DATABASE [PropertyManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropertyManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PropertyManagementDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropertyManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PropertyManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropertyManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropertyManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIMarketAnalyses]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIMarketAnalyses](
	[AnalysisId] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[PropertyType] [nvarchar](50) NOT NULL,
	[AvgRentPrice] [decimal](18, 2) NOT NULL,
	[PriceChangePercent] [decimal](5, 2) NOT NULL,
	[OccupancyRate] [decimal](5, 2) NOT NULL,
	[DemandIndex] [decimal](5, 2) NOT NULL,
	[Trends] [nvarchar](2000) NOT NULL,
	[Insights] [nvarchar](1000) NOT NULL,
	[AnalysisPeriodStart] [datetime2](7) NOT NULL,
	[AnalysisPeriodEnd] [datetime2](7) NOT NULL,
	[CalculatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AIMarketAnalyses] PRIMARY KEY CLUSTERED 
(
	[AnalysisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIPricePredictions]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIPricePredictions](
	[PredictionId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[SuggestedPrice] [decimal](18, 2) NOT NULL,
	[MinPrice] [decimal](18, 2) NOT NULL,
	[MaxPrice] [decimal](18, 2) NOT NULL,
	[ConfidenceLevel] [decimal](5, 2) NOT NULL,
	[MarketFactors] [nvarchar](2000) NOT NULL,
	[ValidUntil] [datetime2](7) NOT NULL,
	[CalculatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AIPricePredictions] PRIMARY KEY CLUSTERED 
(
	[PredictionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIPropertyRecommendations]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIPropertyRecommendations](
	[RecommendationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[MatchScore] [decimal](5, 2) NOT NULL,
	[MatchReasons] [nvarchar](1000) NOT NULL,
	[IsViewed] [bit] NOT NULL,
	[IsDismissed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AIPropertyRecommendations] PRIMARY KEY CLUSTERED 
(
	[RecommendationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AITenantScores]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AITenantScores](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[ReliabilityScore] [decimal](5, 2) NOT NULL,
	[IncomeScore] [decimal](5, 2) NOT NULL,
	[RentalHistoryScore] [decimal](5, 2) NOT NULL,
	[OverallScore] [decimal](5, 2) NOT NULL,
	[RiskLevel] [nvarchar](20) NOT NULL,
	[Factors] [nvarchar](2000) NOT NULL,
	[Recommendation] [nvarchar](1000) NOT NULL,
	[CalculatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AITenantScores] PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIVacancyPredictions]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIVacancyPredictions](
	[PredictionId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[VacancyRisk] [decimal](5, 2) NOT NULL,
	[PredictedDaysVacant] [int] NOT NULL,
	[RiskLevel] [nvarchar](20) NOT NULL,
	[Factors] [nvarchar](2000) NOT NULL,
	[Recommendations] [nvarchar](1000) NOT NULL,
	[CalculatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AIVacancyPredictions] PRIMARY KEY CLUSTERED 
(
	[PredictionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityType] [nvarchar](100) NOT NULL,
	[EntityId] [int] NULL,
	[IpAddress] [nvarchar](50) NOT NULL,
	[UserAgent] [nvarchar](500) NOT NULL,
	[OldValues] [nvarchar](max) NOT NULL,
	[NewValues] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ActiveRole] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BackupHistories]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupHistories](
	[BackupId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[BackupType] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](1000) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_BackupHistories] PRIMARY KEY CLUSTERED 
(
	[BackupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ChatRoomId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[MessageType] [nvarchar](20) NOT NULL,
	[AttachmentUrl] [nvarchar](500) NOT NULL,
	[IsEdited] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatParticipants]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatParticipants](
	[ParticipantId] [int] IDENTITY(1,1) NOT NULL,
	[ChatRoomId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[LastReadAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ChatParticipants] PRIMARY KEY CLUSTERED 
(
	[ParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatRooms]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatRooms](
	[ChatRoomId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[PropertyId] [int] NULL,
	[LeaseId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastMessageAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ChatRooms] PRIMARY KEY CLUSTERED 
(
	[ChatRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityId] [int] NOT NULL,
	[FileName] [nvarchar](200) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteProperties]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteProperties](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FavoriteProperties] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[LeaseId] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceType] [nvarchar](50) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[RemainingAmount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Notes] [nvarchar](1000) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaidDate] [datetime2](7) NULL,
	[InvoiceFileUrl] [nvarchar](500) NOT NULL,
	[InvoiceFilePath] [nvarchar](500) NOT NULL,
	[EmailSent] [bit] NOT NULL,
	[EmailSentDate] [datetime2](7) NULL,
	[ReminderCount] [int] NOT NULL,
	[LastReminderSent] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leases]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leases](
	[LeaseId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[ApplicationId] [int] NULL,
	[LeaseNumber] [nvarchar](50) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[MonthlyRent] [decimal](18, 2) NOT NULL,
	[SecurityDeposit] [decimal](18, 2) NOT NULL,
	[PaymentDueDay] [int] NOT NULL,
	[PaymentFrequency] [nvarchar](20) NOT NULL,
	[Terms] [nvarchar](3000) NOT NULL,
	[SpecialConditions] [nvarchar](500) NULL,
	[ContractFileUrl] [nvarchar](500) NULL,
	[ContractFilePath] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SignedDate] [datetime2](7) NULL,
	[TerminationReason] [nvarchar](1000) NULL,
	[TerminatedDate] [datetime2](7) NULL,
	[AutoRenew] [bit] NOT NULL,
	[PreviousLeaseId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Leases] PRIMARY KEY CLUSTERED 
(
	[LeaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaseSignatures]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaseSignatures](
	[SignatureId] [int] IDENTITY(1,1) NOT NULL,
	[LeaseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SignerRole] [nvarchar](20) NOT NULL,
	[SignatureData] [nvarchar](max) NOT NULL,
	[IpAddress] [nvarchar](50) NOT NULL,
	[SignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LeaseSignatures] PRIMARY KEY CLUSTERED 
(
	[SignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceComments]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Comment] [nvarchar](2000) NOT NULL,
	[IsInternal] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MaintenanceComments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceImages]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[ImagePath] [nvarchar](500) NOT NULL,
	[Caption] [nvarchar](200) NOT NULL,
	[ImageType] [nvarchar](20) NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MaintenanceImages] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequests]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[RequestedBy] [int] NOT NULL,
	[AssignedTo] [int] NULL,
	[RequestNumber] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](3000) NOT NULL,
	[Location] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[AssignedDate] [date] NULL,
	[RepairDate] [datetime2](7) NULL,
	[TimeFrom] [time](7) NULL,
	[TimeTo] [time](7) NULL,
	[CompletedDate] [datetime2](7) NULL,
	[ClosedDate] [datetime2](7) NULL,
	[ClosedBy] [int] NULL,
	[EstimatedCost] [decimal](18, 2) NULL,
	[ActualCost] [decimal](18, 2) NULL,
	[ResolutionNotes] [nvarchar](2000) NOT NULL,
	[Rating] [int] NULL,
	[TenantFeedback] [nvarchar](1000) NOT NULL,
	[TechnicianStatus] [nvarchar](20) NOT NULL,
	[ReasonRejectTechnician] [nvarchar](3000) NOT NULL,
	[ReasonRejectLandlord] [nvarchar](3000) NOT NULL,
	[TechnicianNote] [nvarchar](3000) NOT NULL,
 CONSTRAINT [PK_MaintenanceRequests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationPreferences]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationPreferences](
	[PreferenceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EmailEnabled] [bit] NOT NULL,
	[PushEnabled] [bit] NOT NULL,
	[SmsEnabled] [bit] NOT NULL,
	[PaymentReminders] [bit] NOT NULL,
	[MaintenanceUpdates] [bit] NOT NULL,
	[LeaseAlerts] [bit] NOT NULL,
	[ViewingReminders] [bit] NOT NULL,
	[ApplicationUpdates] [bit] NOT NULL,
	[ChatMessages] [bit] NOT NULL,
	[SystemAnnouncements] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NotificationPreferences] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](2000) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ActionUrl] [nvarchar](500) NOT NULL,
	[Icon] [nvarchar](100) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityId] [int] NULL,
	[ReadAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](255) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDisputes]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDisputes](
	[DisputeId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[RaisedBy] [int] NOT NULL,
	[Reason] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Resolution] [nvarchar](2000) NOT NULL,
	[ResolvedBy] [int] NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PaymentDisputes] PRIMARY KEY CLUSTERED 
(
	[DisputeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[PaymentNumber] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[TransactionReference] [nvarchar](100) NOT NULL,
	[BankName] [nvarchar](200) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](1000) NOT NULL,
	[ReceiptFileUrl] [nvarchar](500) NOT NULL,
	[ReceiptFilePath] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ProcessedBy] [int] NULL,
	[ConfirmedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyId] [int] IDENTITY(1,1) NOT NULL,
	[LandlordId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[ZipCode] [nvarchar](20) NOT NULL,
	[Latitude] [decimal](10, 6) NULL,
	[Longitude] [decimal](10, 6) NULL,
	[PropertyType] [nvarchar](50) NOT NULL,
	[Bedrooms] [int] NOT NULL,
	[Bathrooms] [int] NOT NULL,
	[SquareFeet] [decimal](18, 2) NOT NULL,
	[RentAmount] [decimal](18, 2) NOT NULL,
	[DepositAmount] [decimal](18, 2) NULL,
	[Description] [nvarchar](3000) NOT NULL,
	[Amenities] [nvarchar](1000) NOT NULL,
	[UtilitiesIncluded] [nvarchar](500) NOT NULL,
	[IsFurnished] [bit] NOT NULL,
	[PetsAllowed] [bit] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AvailableFrom] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Properties] PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyAnalytics]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyAnalytics](
	[AnalyticsId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[ViewingRequestCount] [int] NOT NULL,
	[ApplicationCount] [int] NOT NULL,
	[LeaseCount] [int] NOT NULL,
	[AvgDaysToRent] [int] NOT NULL,
	[AvgMonthlyRevenue] [decimal](18, 2) NOT NULL,
	[TotalRevenue] [decimal](18, 2) NOT NULL,
	[MaintenanceRequestCount] [int] NOT NULL,
	[AvgMaintenanceCost] [decimal](18, 2) NOT NULL,
	[TotalMaintenanceCost] [decimal](18, 2) NOT NULL,
	[OccupancyRate] [decimal](5, 2) NOT NULL,
	[AvgTenantRating] [decimal](3, 2) NOT NULL,
	[LastRentedDate] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PropertyAnalytics] PRIMARY KEY CLUSTERED 
(
	[AnalyticsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyImages]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[ImagePath] [nvarchar](500) NOT NULL,
	[IsThumbnail] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Caption] [nvarchar](200) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PropertyImages] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyViewings]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyViewings](
	[ViewingId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[RequestedBy] [int] NULL,
	[GuestName] [nvarchar](100) NULL,
	[GuestEmail] [nvarchar](100) NULL,
	[GuestPhone] [nvarchar](20) NULL,
	[RequestedDate] [datetime2](7) NOT NULL,
	[PreferredDate1] [datetime2](7) NULL,
	[PreferredDate2] [datetime2](7) NULL,
	[PreferredDate3] [datetime2](7) NULL,
	[ScheduledDate] [datetime2](7) NULL,
	[TenantNotes] [nvarchar](1000) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[LandlordNotes] [nvarchar](1000) NULL,
	[MeetingLink] [nvarchar](1000) NULL,
	[IsVirtualViewing] [bit] NOT NULL,
	[CompletedDate] [datetime2](7) NULL,
	[Rating] [int] NULL,
	[Feedback] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PropertyViewings] PRIMARY KEY CLUSTERED 
(
	[ViewingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refunds]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refunds](
	[RefundId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[RefundNumber] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ProcessedBy] [int] NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[TransactionReference] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Refunds] PRIMARY KEY CLUSTERED 
(
	[RefundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalApplications]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[ApplicantId] [int] NOT NULL,
	[ApplicationNumber] [nvarchar](50) NOT NULL,
	[EmploymentStatus] [nvarchar](100) NOT NULL,
	[Employer] [nvarchar](200) NOT NULL,
	[MonthlyIncome] [decimal](18, 2) NULL,
	[PreviousAddress] [nvarchar](500) NOT NULL,
	[PreviousLandlord] [nvarchar](200) NOT NULL,
	[PreviousLandlordPhone] [nvarchar](20) NOT NULL,
	[NumberOfOccupants] [int] NOT NULL,
	[HasPets] [bit] NOT NULL,
	[PetDetails] [nvarchar](200) NULL,
	[DesiredMoveInDate] [datetime2](7) NOT NULL,
	[AdditionalNotes] [nvarchar](2000) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RejectionReason] [nvarchar](1000) NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_RentalApplications] PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenantPreferences]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantPreferences](
	[PreferenceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MinBudget] [decimal](18, 2) NULL,
	[MaxBudget] [decimal](18, 2) NULL,
	[PreferredLocations] [nvarchar](500) NOT NULL,
	[PreferredPropertyTypes] [nvarchar](200) NOT NULL,
	[MinBedrooms] [int] NULL,
	[MinBathrooms] [int] NULL,
	[MinSquareFeet] [decimal](18, 2) NULL,
	[RequiredAmenities] [nvarchar](500) NOT NULL,
	[PetsRequired] [bit] NOT NULL,
	[FurnishedRequired] [bit] NOT NULL,
	[MoveInDate] [datetime2](7) NULL,
	[AdditionalNotes] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TenantPreferences] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [int] NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/02/2026 8:55:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Avatar] [nvarchar](500) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[LastLoginAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260128182142_InitMigration', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [EntityType], [EntityId], [IpAddress], [UserAgent], [OldValues], [NewValues], [Description], [ActiveRole], [CreatedAt]) VALUES (4, 1, N'Create', N'User', 7, N'', N'', N'', N'', N'Created user ''lg3003204@gmail.com'' with role ''Technician''', N'Admin', CAST(N'2026-01-29T00:34:07.2990397' AS DateTime2))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [EntityType], [EntityId], [IpAddress], [UserAgent], [OldValues], [NewValues], [Description], [ActiveRole], [CreatedAt]) VALUES (5, 1, N'Create', N'User', 8, N'', N'', N'', N'', N'Created user ''lg3003204@gmail.com'' with role ''Technician''', N'Admin', CAST(N'2026-01-29T00:35:01.9093371' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Leases] ON 

SET IDENTITY_INSERT [dbo].[Leases] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaseSignatures] ON 

SET IDENTITY_INSERT [dbo].[LeaseSignatures] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceComments] ON 

INSERT [dbo].[MaintenanceComments] ([CommentId], [RequestId], [UserId], [Comment], [IsInternal], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 4, N'test', 0, CAST(N'2026-01-29T00:19:23.6247585' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[MaintenanceComments] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceImages] ON 

INSERT [dbo].[MaintenanceImages] ([ImageId], [RequestId], [ImageUrl], [ImagePath], [Caption], [ImageType], [UploadedBy], [UploadedAt]) VALUES (1, 1, N'/uploads/maintenance/98f2c23b-df22-45ec-a9f5-0c06fdf77663_615825656_1570983450808304_8740769106536912269_n.jpg', N'/uploads/maintenance/98f2c23b-df22-45ec-a9f5-0c06fdf77663_615825656_1570983450808304_8740769106536912269_n.jpg', N'', N'Before', 3, CAST(N'2026-01-29T00:14:24.0463492' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MaintenanceImages] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] ON 

SET IDENTITY_INSERT [dbo].[MaintenanceRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalApplications] ON 

SET IDENTITY_INSERT [dbo].[RentalApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt]) VALUES (1, N'Admin', N'System Administrator', CAST(N'2026-01-28T18:21:42.3763532' AS DateTime2))
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt]) VALUES (2, N'Member', N'Landlord and Tenant', CAST(N'2026-01-28T18:21:42.3763535' AS DateTime2))
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt]) VALUES (3, N'Technician', N'Maintenance Technician', CAST(N'2026-01-28T18:21:42.3763536' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedAt], [AssignedBy]) VALUES (1, 1, 1, CAST(N'2026-01-28T18:22:02.3243681' AS DateTime2), NULL)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedAt], [AssignedBy]) VALUES (2, 2, 2, CAST(N'2026-01-28T18:22:53.8988833' AS DateTime2), NULL)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedAt], [AssignedBy]) VALUES (3, 3, 2, CAST(N'2026-01-28T18:22:58.0434321' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [PhoneNumber], [Address], [Avatar], [DateOfBirth], [IsActive], [EmailVerified], [CreatedAt], [UpdatedAt], [LastLoginAt]) VALUES (1, N'admin@localhost', N'$2a$11$8har6i9ihjya/NHGCkhcy.XyAGMvl/kSNe0RKiOR.DHCZOlKH7HG.', N'System Administrator', NULL, NULL, NULL, NULL, 1, 1, CAST(N'2026-01-28T18:22:02.2197317' AS DateTime2), CAST(N'2026-01-28T18:22:02.2197438' AS DateTime2), CAST(N'2026-01-29T00:23:46.3427661' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [PhoneNumber], [Address], [Avatar], [DateOfBirth], [IsActive], [EmailVerified], [CreatedAt], [UpdatedAt], [LastLoginAt]) VALUES (2, N'gianglse184279@fpt.edu.vn', N'$2a$11$h3j599Sr5DfopTzN1PQOb.vKyWiW.XMgWf9HYvE5IuLlYgsjtGP5.', N'Lê Giang Landlord', NULL, NULL, NULL, NULL, 1, 0, CAST(N'2026-01-28T18:22:53.8989646' AS DateTime2), CAST(N'2026-01-28T18:22:53.8989646' AS DateTime2), CAST(N'2026-01-29T00:16:02.8090640' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [PhoneNumber], [Address], [Avatar], [DateOfBirth], [IsActive], [EmailVerified], [CreatedAt], [UpdatedAt], [LastLoginAt]) VALUES (3, N'legiang30032004@gmail.com', N'$2a$11$ZGhf2bDCw0yNnFMQVgmEsO/1h/R3eXMoTftg47ocGxd74E4.tNF92', N'Lê Giang Tenant 1', NULL, NULL, NULL, NULL, 1, 0, CAST(N'2026-01-28T18:22:58.0434331' AS DateTime2), CAST(N'2026-01-28T18:22:58.0434331' AS DateTime2), CAST(N'2026-01-29T00:15:51.1355091' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_AIPricePredictions_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_AIPricePredictions_PropertyId] ON [dbo].[AIPricePredictions]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AIPropertyRecommendations_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_AIPropertyRecommendations_PropertyId] ON [dbo].[AIPropertyRecommendations]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AIPropertyRecommendations_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_AIPropertyRecommendations_UserId] ON [dbo].[AIPropertyRecommendations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AITenantScores_ApplicationId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AITenantScores_ApplicationId] ON [dbo].[AITenantScores]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AIVacancyPredictions_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_AIVacancyPredictions_PropertyId] ON [dbo].[AIVacancyPredictions]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_UserId] ON [dbo].[AuditLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BackupHistories_CreatedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_BackupHistories_CreatedBy] ON [dbo].[BackupHistories]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages_ChatRoomId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_ChatRoomId] ON [dbo].[ChatMessages]
(
	[ChatRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages_CreatedAt]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_CreatedAt] ON [dbo].[ChatMessages]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages_SenderId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_SenderId] ON [dbo].[ChatMessages]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatParticipants_ChatRoomId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChatParticipants_ChatRoomId] ON [dbo].[ChatParticipants]
(
	[ChatRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatParticipants_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChatParticipants_UserId] ON [dbo].[ChatParticipants]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatRooms_LeaseId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChatRooms_LeaseId] ON [dbo].[ChatRooms]
(
	[LeaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatRooms_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChatRooms_PropertyId] ON [dbo].[ChatRooms]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_DeletedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Documents_DeletedBy] ON [dbo].[Documents]
(
	[DeletedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_UploadedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Documents_UploadedBy] ON [dbo].[Documents]
(
	[UploadedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FavoriteProperties_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_FavoriteProperties_PropertyId] ON [dbo].[FavoriteProperties]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FavoriteProperties_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_FavoriteProperties_UserId] ON [dbo].[FavoriteProperties]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_DueDate]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_DueDate] ON [dbo].[Invoices]
(
	[DueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_InvoiceNumber]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invoices_InvoiceNumber] ON [dbo].[Invoices]
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_LeaseId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_LeaseId] ON [dbo].[Invoices]
(
	[LeaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_Status]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Status] ON [dbo].[Invoices]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leases_ApplicationId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Leases_ApplicationId] ON [dbo].[Leases]
(
	[ApplicationId] ASC
)
WHERE ([ApplicationId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Leases_LeaseNumber]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Leases_LeaseNumber] ON [dbo].[Leases]
(
	[LeaseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leases_PreviousLeaseId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Leases_PreviousLeaseId] ON [dbo].[Leases]
(
	[PreviousLeaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leases_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Leases_PropertyId] ON [dbo].[Leases]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Leases_Status]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Leases_Status] ON [dbo].[Leases]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leases_TenantId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Leases_TenantId] ON [dbo].[Leases]
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaseSignatures_LeaseId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_LeaseSignatures_LeaseId] ON [dbo].[LeaseSignatures]
(
	[LeaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaseSignatures_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_LeaseSignatures_UserId] ON [dbo].[LeaseSignatures]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceComments_RequestId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceComments_RequestId] ON [dbo].[MaintenanceComments]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceComments_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceComments_UserId] ON [dbo].[MaintenanceComments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceImages_RequestId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceImages_RequestId] ON [dbo].[MaintenanceImages]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceImages_UploadedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceImages_UploadedBy] ON [dbo].[MaintenanceImages]
(
	[UploadedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRequests_AssignedTo]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_AssignedTo] ON [dbo].[MaintenanceRequests]
(
	[AssignedTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRequests_ClosedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_ClosedBy] ON [dbo].[MaintenanceRequests]
(
	[ClosedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceRequests_Priority]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_Priority] ON [dbo].[MaintenanceRequests]
(
	[Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRequests_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_PropertyId] ON [dbo].[MaintenanceRequests]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRequests_RequestedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_RequestedBy] ON [dbo].[MaintenanceRequests]
(
	[RequestedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceRequests_RequestNumber]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MaintenanceRequests_RequestNumber] ON [dbo].[MaintenanceRequests]
(
	[RequestNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceRequests_Status]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_Status] ON [dbo].[MaintenanceRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationPreferences_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NotificationPreferences_UserId] ON [dbo].[NotificationPreferences]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId_IsRead]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetTokens_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_UserId] ON [dbo].[PasswordResetTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentDisputes_InvoiceId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_PaymentDisputes_InvoiceId] ON [dbo].[PaymentDisputes]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentDisputes_RaisedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_PaymentDisputes_RaisedBy] ON [dbo].[PaymentDisputes]
(
	[RaisedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentDisputes_ResolvedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_PaymentDisputes_ResolvedBy] ON [dbo].[PaymentDisputes]
(
	[ResolvedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_InvoiceId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_InvoiceId] ON [dbo].[Payments]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_PaymentNumber]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_PaymentNumber] ON [dbo].[Payments]
(
	[PaymentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_ProcessedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_ProcessedBy] ON [dbo].[Payments]
(
	[ProcessedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Properties_City_District]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Properties_City_District] ON [dbo].[Properties]
(
	[City] ASC,
	[District] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Properties_LandlordId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Properties_LandlordId] ON [dbo].[Properties]
(
	[LandlordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Properties_Status]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Properties_Status] ON [dbo].[Properties]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyAnalytics_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PropertyAnalytics_PropertyId] ON [dbo].[PropertyAnalytics]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyImages_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_PropertyImages_PropertyId] ON [dbo].[PropertyImages]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyViewings_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_PropertyViewings_PropertyId] ON [dbo].[PropertyViewings]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyViewings_RequestedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_PropertyViewings_RequestedBy] ON [dbo].[PropertyViewings]
(
	[RequestedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Refunds_PaymentId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Refunds_PaymentId] ON [dbo].[Refunds]
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Refunds_ProcessedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_Refunds_ProcessedBy] ON [dbo].[Refunds]
(
	[ProcessedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalApplications_ApplicantId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_RentalApplications_ApplicantId] ON [dbo].[RentalApplications]
(
	[ApplicantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RentalApplications_ApplicationNumber]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RentalApplications_ApplicationNumber] ON [dbo].[RentalApplications]
(
	[ApplicationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalApplications_PropertyId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_RentalApplications_PropertyId] ON [dbo].[RentalApplications]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalApplications_ReviewedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_RentalApplications_ReviewedBy] ON [dbo].[RentalApplications]
(
	[ReviewedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RentalApplications_Status]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_RentalApplications_Status] ON [dbo].[RentalApplications]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SystemSettings_SettingKey]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SystemSettings_SettingKey] ON [dbo].[SystemSettings]
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemSettings_UpdatedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_SystemSettings_UpdatedBy] ON [dbo].[SystemSettings]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantPreferences_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TenantPreferences_UserId] ON [dbo].[TenantPreferences]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_AssignedBy]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_AssignedBy] ON [dbo].[UserRoles]
(
	[AssignedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_UserId]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 02/02/2026 8:55:52 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIPricePredictions]  WITH CHECK ADD  CONSTRAINT [FK_AIPricePredictions_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AIPricePredictions] CHECK CONSTRAINT [FK_AIPricePredictions_Properties_PropertyId]
GO
ALTER TABLE [dbo].[AIPropertyRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AIPropertyRecommendations_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
GO
ALTER TABLE [dbo].[AIPropertyRecommendations] CHECK CONSTRAINT [FK_AIPropertyRecommendations_Properties_PropertyId]
GO
ALTER TABLE [dbo].[AIPropertyRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AIPropertyRecommendations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AIPropertyRecommendations] CHECK CONSTRAINT [FK_AIPropertyRecommendations_Users_UserId]
GO
ALTER TABLE [dbo].[AITenantScores]  WITH CHECK ADD  CONSTRAINT [FK_AITenantScores_RentalApplications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[RentalApplications] ([ApplicationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AITenantScores] CHECK CONSTRAINT [FK_AITenantScores_RentalApplications_ApplicationId]
GO
ALTER TABLE [dbo].[AIVacancyPredictions]  WITH CHECK ADD  CONSTRAINT [FK_AIVacancyPredictions_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AIVacancyPredictions] CHECK CONSTRAINT [FK_AIVacancyPredictions_Properties_PropertyId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users_UserId]
GO
ALTER TABLE [dbo].[BackupHistories]  WITH CHECK ADD  CONSTRAINT [FK_BackupHistories_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BackupHistories] CHECK CONSTRAINT [FK_BackupHistories_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_ChatRooms_ChatRoomId] FOREIGN KEY([ChatRoomId])
REFERENCES [dbo].[ChatRooms] ([ChatRoomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_ChatRooms_ChatRoomId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users_SenderId]
GO
ALTER TABLE [dbo].[ChatParticipants]  WITH CHECK ADD  CONSTRAINT [FK_ChatParticipants_ChatRooms_ChatRoomId] FOREIGN KEY([ChatRoomId])
REFERENCES [dbo].[ChatRooms] ([ChatRoomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatParticipants] CHECK CONSTRAINT [FK_ChatParticipants_ChatRooms_ChatRoomId]
GO
ALTER TABLE [dbo].[ChatParticipants]  WITH CHECK ADD  CONSTRAINT [FK_ChatParticipants_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatParticipants] CHECK CONSTRAINT [FK_ChatParticipants_Users_UserId]
GO
ALTER TABLE [dbo].[ChatRooms]  WITH CHECK ADD  CONSTRAINT [FK_ChatRooms_Leases_LeaseId] FOREIGN KEY([LeaseId])
REFERENCES [dbo].[Leases] ([LeaseId])
GO
ALTER TABLE [dbo].[ChatRooms] CHECK CONSTRAINT [FK_ChatRooms_Leases_LeaseId]
GO
ALTER TABLE [dbo].[ChatRooms]  WITH CHECK ADD  CONSTRAINT [FK_ChatRooms_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
GO
ALTER TABLE [dbo].[ChatRooms] CHECK CONSTRAINT [FK_ChatRooms_Properties_PropertyId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Users_DeletedBy] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Users_DeletedBy]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Users_UploadedBy] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Users_UploadedBy]
GO
ALTER TABLE [dbo].[FavoriteProperties]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteProperties_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteProperties] CHECK CONSTRAINT [FK_FavoriteProperties_Properties_PropertyId]
GO
ALTER TABLE [dbo].[FavoriteProperties]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteProperties_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteProperties] CHECK CONSTRAINT [FK_FavoriteProperties_Users_UserId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Leases_LeaseId] FOREIGN KEY([LeaseId])
REFERENCES [dbo].[Leases] ([LeaseId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Leases_LeaseId]
GO
ALTER TABLE [dbo].[Leases]  WITH CHECK ADD  CONSTRAINT [FK_Leases_Leases_PreviousLeaseId] FOREIGN KEY([PreviousLeaseId])
REFERENCES [dbo].[Leases] ([LeaseId])
GO
ALTER TABLE [dbo].[Leases] CHECK CONSTRAINT [FK_Leases_Leases_PreviousLeaseId]
GO
ALTER TABLE [dbo].[Leases]  WITH CHECK ADD  CONSTRAINT [FK_Leases_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
GO
ALTER TABLE [dbo].[Leases] CHECK CONSTRAINT [FK_Leases_Properties_PropertyId]
GO
ALTER TABLE [dbo].[Leases]  WITH CHECK ADD  CONSTRAINT [FK_Leases_RentalApplications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[RentalApplications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Leases] CHECK CONSTRAINT [FK_Leases_RentalApplications_ApplicationId]
GO
ALTER TABLE [dbo].[Leases]  WITH CHECK ADD  CONSTRAINT [FK_Leases_Users_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Leases] CHECK CONSTRAINT [FK_Leases_Users_TenantId]
GO
ALTER TABLE [dbo].[LeaseSignatures]  WITH CHECK ADD  CONSTRAINT [FK_LeaseSignatures_Leases_LeaseId] FOREIGN KEY([LeaseId])
REFERENCES [dbo].[Leases] ([LeaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaseSignatures] CHECK CONSTRAINT [FK_LeaseSignatures_Leases_LeaseId]
GO
ALTER TABLE [dbo].[LeaseSignatures]  WITH CHECK ADD  CONSTRAINT [FK_LeaseSignatures_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[LeaseSignatures] CHECK CONSTRAINT [FK_LeaseSignatures_Users_UserId]
GO
ALTER TABLE [dbo].[MaintenanceComments]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceComments_MaintenanceRequests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[MaintenanceRequests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceComments] CHECK CONSTRAINT [FK_MaintenanceComments_MaintenanceRequests_RequestId]
GO
ALTER TABLE [dbo].[MaintenanceComments]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceComments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MaintenanceComments] CHECK CONSTRAINT [FK_MaintenanceComments_Users_UserId]
GO
ALTER TABLE [dbo].[MaintenanceImages]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceImages_MaintenanceRequests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[MaintenanceRequests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceImages] CHECK CONSTRAINT [FK_MaintenanceImages_MaintenanceRequests_RequestId]
GO
ALTER TABLE [dbo].[MaintenanceImages]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceImages_Users_UploadedBy] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MaintenanceImages] CHECK CONSTRAINT [FK_MaintenanceImages_Users_UploadedBy]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Properties_PropertyId]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Users_AssignedTo] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Users_AssignedTo]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Users_ClosedBy] FOREIGN KEY([ClosedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Users_ClosedBy]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Users_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Users_RequestedBy]
GO
ALTER TABLE [dbo].[NotificationPreferences]  WITH CHECK ADD  CONSTRAINT [FK_NotificationPreferences_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationPreferences] CHECK CONSTRAINT [FK_NotificationPreferences_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_Users_UserId]
GO
ALTER TABLE [dbo].[PaymentDisputes]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDisputes_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[PaymentDisputes] CHECK CONSTRAINT [FK_PaymentDisputes_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[PaymentDisputes]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDisputes_Users_RaisedBy] FOREIGN KEY([RaisedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PaymentDisputes] CHECK CONSTRAINT [FK_PaymentDisputes_Users_RaisedBy]
GO
ALTER TABLE [dbo].[PaymentDisputes]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDisputes_Users_ResolvedBy] FOREIGN KEY([ResolvedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PaymentDisputes] CHECK CONSTRAINT [FK_PaymentDisputes_Users_ResolvedBy]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users_ProcessedBy] FOREIGN KEY([ProcessedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users_ProcessedBy]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Users_LandlordId] FOREIGN KEY([LandlordId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Users_LandlordId]
GO
ALTER TABLE [dbo].[PropertyAnalytics]  WITH CHECK ADD  CONSTRAINT [FK_PropertyAnalytics_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyAnalytics] CHECK CONSTRAINT [FK_PropertyAnalytics_Properties_PropertyId]
GO
ALTER TABLE [dbo].[PropertyImages]  WITH CHECK ADD  CONSTRAINT [FK_PropertyImages_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyImages] CHECK CONSTRAINT [FK_PropertyImages_Properties_PropertyId]
GO
ALTER TABLE [dbo].[PropertyViewings]  WITH CHECK ADD  CONSTRAINT [FK_PropertyViewings_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
GO
ALTER TABLE [dbo].[PropertyViewings] CHECK CONSTRAINT [FK_PropertyViewings_Properties_PropertyId]
GO
ALTER TABLE [dbo].[PropertyViewings]  WITH CHECK ADD  CONSTRAINT [FK_PropertyViewings_Users_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PropertyViewings] CHECK CONSTRAINT [FK_PropertyViewings_Users_RequestedBy]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Payments_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([PaymentId])
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Payments_PaymentId]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Users_ProcessedBy] FOREIGN KEY([ProcessedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Users_ProcessedBy]
GO
ALTER TABLE [dbo].[RentalApplications]  WITH CHECK ADD  CONSTRAINT [FK_RentalApplications_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
GO
ALTER TABLE [dbo].[RentalApplications] CHECK CONSTRAINT [FK_RentalApplications_Properties_PropertyId]
GO
ALTER TABLE [dbo].[RentalApplications]  WITH CHECK ADD  CONSTRAINT [FK_RentalApplications_Users_ApplicantId] FOREIGN KEY([ApplicantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RentalApplications] CHECK CONSTRAINT [FK_RentalApplications_Users_ApplicantId]
GO
ALTER TABLE [dbo].[RentalApplications]  WITH CHECK ADD  CONSTRAINT [FK_RentalApplications_Users_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RentalApplications] CHECK CONSTRAINT [FK_RentalApplications_Users_ReviewedBy]
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD  CONSTRAINT [FK_SystemSettings_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SystemSettings] CHECK CONSTRAINT [FK_SystemSettings_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[TenantPreferences]  WITH CHECK ADD  CONSTRAINT [FK_TenantPreferences_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TenantPreferences] CHECK CONSTRAINT [FK_TenantPreferences_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_AssignedBy] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_AssignedBy]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
USE [master]
GO
